* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--e);
}
h1{
    color: white
}

.cajaComentarios {
    color: white;
    background-color: var(--navColor) !important;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    width: 40vw;
    border-radius: 25px;
}

.negrita {
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.comentario {
    display: flex;
    margin: 0 .5rem;
    font-size: 1.3rem;
    align-items: center;
}

.descripcionComentario {
    display: flex;
    border: 1px black !important;
    border-radius: 20px;
    background-color: white;
    color: #000;
    padding: .5rem;
    width: 100%;
}

.imagenesEventos {
    max-height: 250px;
}

.butt {
    border: none;
    outline: none;
    cursor: pointer;
}

.chat-area {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-area {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
    width: 90%;
}

input[type="text"] {
    width: 80%;
    border: 1px solid #ccc;
    font-size: 1rem;
    text-align: center;
    border-radius: 20px;
    height: 3rem;
    margin-bottom: 2vh;
}

.submit {
    padding: 0.25rem 0.5rem;
    height: 3rem;
    margin-left: 0.5rem;
    background-color: rgb(167, 161, 161);
    color: var(--navColor);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.botones {
    display: flex;
    justify-content: flex-end;
}

.cajitaComentarios {
    display: flex;
    width: 90%;
}

@media (max-width: 650px) {
    .cajaComentarios {
        color: white;
        background-color: var(--navColor) !important;
        align-items: center;
        font-size: 1.5rem;
        text-align: center;
        width: 90%;
        border-radius: 25px;
    }
    
    .descripcionComentario {
        display: flex;
        flex-direction: column;
        border: 1px black !important;
        border-radius: 20px;
        background-color: white;
        color: #000;
        padding: .5rem;
        width: 100%;
    }
}